absl-py==1.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
annotated-types==0.7.0
anyio==4.7.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
awscli==1.36.32
bcrypt==4.2.0
beautifulsoup4==4.11.1
blinker==1.8.2
blis==0.7.8
botocore==1.35.91
branca==0.5.0
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854242877/work
bs4==0.0.1
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
catalogue==2.0.8
cement==2.10.14
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_884c889c-96af-444f-bd6d-daddb5e9a462ykj3l5n_/croots/recipe/certifi_1655968814730/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046173594/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click==8.1.7
cloudpickle==2.2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
coloredlogs==15.0.1
conda==4.13.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1649385125392/work
cramjam==2.9.0
criccatapult==0.0.5
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1652967108255/work
cycler==0.11.0
cymem==2.0.6
datasets==3.1.0
dateparser==1.1.1
deprecation==2.1.0
dill==0.3.8
distlib==0.3.5
dlib==19.24.0
docutils==0.16
dotmap==1.3.30
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
exceptiongroup==1.2.2
fastparquet==2024.5.0
filelock==3.7.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==3.1.1
Flask-Uploads==0.2.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
folium==0.12.1.post1
fonttools==4.34.4
frozenlist @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/frozenlist_1637854040629/work
fsspec==2024.9.0
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
geographiclib==1.52
geopy==2.2.0
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib==0.4.1
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
gotrue==2.11.1
grpcio==1.67.0
gym==0.21.0
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hpack==4.0.0
html5lib==1.1
httpcore==1.0.7
httpx==0.27.2
huggingface-hub==0.26.2
humanfriendly==10.0
hyperframe==6.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-5pqd2z6f/importlib-metadata_1648710902288/work
imutils==0.5.4
itsdangerous==2.1.2
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.1.0
keras==3.6.0
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver==1.4.4
langcodes==3.3.0
libclang==14.0.1
lxml==5.3.0
Markdown @ file:///Users/ktietz/demo/mc3/conda-bld/markdown_1629712599908/work
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.5.2
mdurl==0.1.2
mediapipe==0.10.14
missingno==0.5.1
ml-dtypes==0.4.1
mpmath==1.3.0
multidict @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-y0aguug8/multidict_1640703757578/work
multiprocess==0.70.16
murmurhash==1.0.7
mysql==0.0.3
mysql-client==0.0.1
mysqlclient==2.1.1
namex==0.0.8
networkx==3.2.1
nfl_data_py==0.3.3
nflfastpy==0.0.14
numpy==1.26.4
oauthlib==3.1.0
onnx==1.16.1
onnxruntime==1.18.1
openai==0.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.82
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
optree==0.13.0
packaging==21.3
pandas==1.5.3
pathy==0.6.2
Pillow==9.2.0
platformdirs==2.5.2
postgrest==0.19.1
preshed==3.0.6
propcache==0.2.1
protobuf==4.25.5
psycopg2==2.9.10
pyarrow==18.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1649384941891/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==2.10.4
pydantic_core==2.27.2
pygame==2.1.2
Pygments==2.18.0
PyJWT @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_83311740-c3bc-48a8-9688-62d7e2d625f5s6jo920w/croots/recipe/pyjwt_1657544592579/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.0.9
pyreadr==0.5.2
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857374584/work
python-dateutil==2.8.2
python-espncricinfo==0.5.8
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
realtime==2.1.0
regex==2022.3.2
requests==2.32.3
requests-oauthlib==1.3.0
rich==13.9.3
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1653464548430/work
s3transfer==0.10.4
scikit-learn==1.1.2
scipy==1.13.1
seaborn==0.12.0
Shapely==1.8.4
six @ file:///home/linux1/recipes/ci/six_1610970791821/work
smart-open==5.2.1
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.3.2.post1
spacy==3.4.1
spacy-legacy==3.0.9
spacy-loggers==1.0.3
SpeechRecognition==3.10.4
SQLAlchemy==2.0.34
srsly==2.4.4
storage3==0.11.0
StrEnum==0.4.15
supabase==2.11.0
supafunc==0.9.0
sympy==1.13.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.6.0
tensorflow==2.18.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.9.2
tensorflow-metal==0.5.0
termcolor==1.1.0
thinc==8.1.0
thinc-apple-ops==0.1.0
threadpoolctl==3.1.0
tokenizers==0.13.2
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.6
transformers==4.26.0
typer==0.4.2
typing_extensions==4.12.2
tzdata==2022.1
tzlocal==4.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
virtualenv==20.15.1
wasabi==0.10.1
wcwidth==0.2.13
webencodings==0.5.1
websockets==13.1
Werkzeug==3.0.4
wrapt @ file:///Users/ktietz/demo/mc3/conda-bld/wrapt_1629147080301/work
WTForms==3.1.2
xgboost==1.6.2
xxhash==3.5.0
yarl==1.18.3
zipp @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_66c2c5f2-5dd5-4946-a16a-72af650ebd6cnmz4ou0f/croots/recipe/zipp_1652343960956/work
