:root {
    --primary-color: black;
    --secondary-color: gray;
}


html, body {

    height: 99%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url("images/nature.jpg");
    background-size: cover;

}


.top-text {
  
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.form-content {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.white {
    background-color: white;
    padding: 20px 20px;
    box-shadow: 2px 2px gray;

}
.columns {
    display: flex;
    justify-content: center;

}

.form-header {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--secondary-color)
}

input {
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

.column-one {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column-two {
    display: flex;
    flex-direction: column;
}

.button-box {
    margin: 20px;
}

#submit-button {
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    background: forestgreen;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button:focus {
    outline: none;
    box-shadow: 0 0 8px 2px rgba(34, 139, 34, 0.5); /* Adds a green glow */
}

button:active {
    background: darkgreen; /* Darkens the button color on click */
    box-shadow: 0 0 4px 1px rgba(34, 139, 34, 0.5); /* Slightly reduces the shadow */
}

.input-error {
    color: red;
};
