<!DOCTYPE HTML>
<html>
	<head>
		<title>CCL Onboarding Practice</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<img src = "static/css/images/ccl_logo.png">
								<h1><a href="index.html">CCL Onboarding Practice</a></h1>
							</div>

						<!-- Nav -->
							{% if login %}
                                <div class=user-info> 
									<a>icon placeholder</a>
									<p>Hello, </p> {username}
								</div>
                            {% endif %}
							<nav id="nav">
								<ul>
									<li class="current"><a href="/">Home</a></li>
									<li><a href="/about">About CCL</a></li>
									<li><a href="/game">Play!</a></li>
									<li><a href="/register">Sign Up</a></li>
									<li><a href="/login">Log In</a></li>
								</ul>
							</nav>

					</header>
				</div>
        <!-- Quiz Options-->

        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-small">
                        <h2>Quiz 1</h2>
                        <p>Designed to educate members about the climate</p>
                    </div>
                    <div class="col-5 col-12-small">
                        <ul>
                            <li><a href="/login.html" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Quiz 2</h2>
                        <p>Designed to educate members about the climate</p>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="/login.html" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Quiz 3</h2>
                        <p>Designed to educate members about the climate</p>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="/login.html" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Quiz 4</h2>
                        <p>Designed to educate members about the climate</p>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="/login.html" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Quiz 5</h2>
                        <p>Designed to educate members about the climate</p>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="/login.html" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Quiz 6</h2>
                        <p>Designed to educate members about the climate</p>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="/login.html" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Quiz 7</h2>
                        <p>Designed to educate members about the climate</p>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="/login.html" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Quiz 8</h2>
                        <p>Designed to educate members about the climate</p>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="/login.html" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Quiz 9</h2>
                        <p>Designed to educate members about the climate</p>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="/login.html" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		<!-- Scripts -->
			
			<script src="{{ url_for('static', filename='js/responsive/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/main.js') }}"></script>

	</body>
</html>