<!DOCTYPE html>
<html lang="en">
<head>
    <meta name = "user" content = {{username}}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>
<body>
    <div class="quiz-container">
        <h1>Quiz Game</h1>
        <div id="question-container" class="question-container">
            <div id="question">Loading question...</div>
            <div id="answer-buttons" class="answer-buttons"></div>
        </div>
        <button id="next-btn" class="next-btn btn hide">Next</button>
        <div id="score-container" class="score-container">Score: <span id="score">0</span></div>
    </div>

        <script src="{{ url_for('static', filename='js/responsive/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/responsive/jquery.scrollex.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/responsive/jquery.scrolly.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/responsive/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/responsive/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/responsive/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/responsive/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/other/game.js') }}"></script>

    </script>
    
    
</body>
</html>
