<!DOCTYPE HTML>
<html>
	<head>
		<title>CCL Onboarding Practice</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<img src = "static/css/images/ccl_logo.png">
								<h1><a href="index.html">CCL Onboarding Practice</a></h1>
							</div>

						<!-- Nav -->
							{% if login %}
                                <div class=user-info> 
									<a>icon placeholder</a>
									<p>Welcome, {{username}}!</p>
								</div>
                            {% endif %}
							<nav id="nav">
								<ul>
									<li class="current"><a href="/">Home</a></li>
									<li><a href="/about">About CCL</a></li>
									<li><a href="/game">Play!</a></li>
									<li><a href="/register">Sign Up</a></li>
									<li><a href="/login">Log In</a></li>
								</ul>
							</nav>

					</header>
				</div>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>A fun game</h2>
								<p>Designed to educate members about the climate</p>
							</div>
							<div class="col-5 col-12-medium">
								<ul>
									<li><a href="/login.html" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
									<li><a href="/about.html" class="button alt large icon solid fa-question-circle">More info</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a class="image featured"><img src="static/css/images/knowledge.webp" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Build Knowledge</h2>
											</header>
											<p>Placeholder text</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a class="image featured"><img src="static/css/images/climate_literacy.png" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Climate Literacy</h2>
											</header>
											<p>Placeholder text</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a class="image featured"><img src="static/css/images/save.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Save Money</h2>
											</header>
											<p>Placeholder Text</p>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<div id="sidebar">
										<section class="widget thumbnails">
											<h3>Climate Citizens' Lobby</h3>
											<div class="grid">
												<div class="row gtr-50">
													<div class="col-6"><a href="#" class="image fit"><img src="static/css/images/ccl_logo.png" alt="" /></a></div>
												</div>
											</div>
										</section>
									</div>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
									<div id="content">
										<section class="last">
											<h2>Placeholder Title</h2>
											<p>This is a game designed to be onboarding practice for the <strong>Climate Citizens' Lobby (CCL)</strong> Placeholder text 
											<a href="about.html" class="button icon solid fa-arrow-circle-right">Learn More</a>
										</section>
									</div>

							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Support CCL</h3>
										<ul class="style2">
											<li><a href="https://citizensclimatelobby.org/donate/?_ga=2.70223382.70267146.1725399528-1887551718.1725399528">Donate Now</a></li>
											<li><a href="https://ccl.privateprintstore.com/self-registration">Print Store</a></li>
											<li><a href="https://www.zazzle.com/collections/citizens_climate_lobby_store-119445115574636814">Merchandise Store</a></li>
										</ul>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>CCL Websites</h3>
										<ul class="style2">
											<li><a href="http://citizensclimatelobby.org/?_ga=2.140477621.70267146.1725399528-1887551718.1725399528">Citizens' Climate Lobby</a></li>
											<li><a href="http://citizensclimateeducation.org/">Citizens' Climate Education</a></li>
											<li><a href="https://citizensclimate.earth/">Citizens' Climate International</a></li>
											<li><a href="https://citizensclimate.zendesk.com/hc/en-us">Citizens' Climate Knowledge Base</a></li>
										</ul>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Contact/Opportunities</h3>
										<ul class="style2">
											<li><a href="https://community.citizensclimate.org/regional-coordinators">Regional and State Directors</a></li>
											<li><a href="https://citizensclimatelobby.org/about-ccl/team/?_ga=2.70823062.70267146.1725399528-1887551718.1725399528">Team</a></li>
											<li><a href="https://citizensclimatelobby.org/about-ccl/advisory-board/?_ga=2.103738630.70267146.1725399528-1887551718.1725399528">Advisory Board</a></li>
											<li><a href="https://citizensclimatelobby.org/about-ccl/jobs-internships/?_ga=2.70240662.70267146.1725399528-1887551718.1725399528">Jobs and Internships</a></li>
										</ul>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Contact -->
									<section class="widget contact last">
										<h3>Social Media</h3>
										<ul>
											<li><a href="https://twitter.com/citizensclimate" class="icon brands fa-twitter"><span class="label">X</span></a></li>
											<li><a href="https://www.facebook.com/CitizensClimateLobby/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="https://www.instagram.com/citizensclimate" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="https://www.linkedin.com/company/citizens-climate-lobby/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
											<li><a href="https://www.youtube.com/channel/UCWuCkmi8ySLMTZEpJC7jMsA" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
										</ul>
						
									</section>

							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; 2024 Climate Citizens Lobby</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->
			
			<script src="{{ url_for('static', filename='js/responsive/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/responsive/main.js') }}"></script>

	</body>
</html>