<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
   <script src="{{ url_for('static', filename='js/other/form.js') }}" defer></script>
</head>
<body>
        <div class = "sidebar">
            <img  src = "static/css/images/leaf.avif">
            <div class = "odin">
                <img id="sidebar-image" src = "static/css/images/ccl_logo.png">
            </div>
        </div>
        <div class = "form-content">
            <div class = "top-text">
                <p>Sign up <i>now</i> to get started. </p> 
                <p></p>
            </div>
            <div class = "middle-text">

                <form action="" method="post">
                    <div class = "white">
                    <p class = "form-header">Let's do this!</p>

                    <div class = "columns">
                        <div class = "column-one">
                            <label for="first_name">First Name</label>
                            <input type="text" id="first_name" name="first_name" placeholder="John" value=""> 
                            {{ form.hidden_tag() }}
                            <label for="email">Email*</label>
                            {{ form.username }}
                            <!-- <input type="email" id="email" name="email" placeholder="johnsmith@gmail.com" value="" required>  -->
                            
                            <label for="password">Password*</label>
                            <!-- <input type="password" id="password"
                            title="Password must contain min.8 characters: letters, digits and special characters."
                            placeholder="********" name="password"
                            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required
                            autocomplete="off" minlength="8"> -->
                            {{ form.password }}
                        </div>
                        
                        <div class = "column-two">
                            <label for="last_name">Last Name</label>
                            <input type="text" id="last_name" name="last_name" placeholder="Smith" value=""> 
                            
                            <label for="phone_number">Phone Number</label>
                            <input id="phone_number" name="phone_number" placeholder="123-456-7890" pattern="^[0-9._-]{9}$" value=""> 
                            
                            <label for="password_val">Confirm Password*</label>
                            <!-- <input type="password" id="password_validation"
                            title="Password must contain min. 8 characters:"
                            placeholder="********" required autocomplete="off"> -->
                            {{ form.password_val }}
                            {% if error %}
                                <p class="input-error">Passwords don't match.</p>
                             {% endif %}
                        </div>
                    </div>
                    </div>
                    <div class="button-box">
                        <!-- <button id = "submit-button" type="submit" disabled>Create Account</button> -->
                        {{ form.submit }}
                        <p class="body-txt">Already have an account? <a href="/login" target="/login">Log in</a> <p class ="body-text">Redirect to <a href="/" target="/">Home Page</a> </p> </p> 
                
                    </div>
            
                </form>
            </div>
           
        </div>
</body>
</html>